NabVelocity/Service References/Svc/SvcInfo6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ipcommerce.com/Identity/1.0/" elementFormDefault="qualified" targetNamespace="http://schemas.ipcommerce.com/Identity/1.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="STSUnavailableFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="STSUnavailableFault" nillable="true" type="tns:STSUnavailableFault" />
  <xs:complexType name="BaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorID" type="xs:int" />
      <xs:element minOccurs="0" name="HelpURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProblemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFault" nillable="true" type="tns:BaseFault" />
  <xs:complexType name="ExpiredTokenFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpiredTokenFault" nillable="true" type="tns:ExpiredTokenFault" />
  <xs:complexType name="InvalidTokenFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidTokenFault" nillable="true" type="tns:InvalidTokenFault" />
  <xs:complexType name="AuthenticationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticationFault" nillable="true" type="tns:AuthenticationFault" />
  <xs:complexType name="PasswordExpiredFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordExpiredFault" nillable="true" type="tns:PasswordExpiredFault" />
  <xs:complexType name="LockedByAdminFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LockedByAdminFault" nillable="true" type="tns:LockedByAdminFault" />
  <xs:complexType name="OneTimePasswordFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OneTimePasswordFault" nillable="true" type="tns:OneTimePasswordFault" />
  <xs:complexType name="BadAttemptThresholdExceededFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BadAttemptThresholdExceededFault" nillable="true" type="tns:BadAttemptThresholdExceededFault" />
  <xs:complexType name="SendEmailFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendEmailFault" nillable="true" type="tns:SendEmailFault" />
  <xs:complexType name="GeneratePasswordFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneratePasswordFault" nillable="true" type="tns:GeneratePasswordFault" />
  <xs:complexType name="PasswordInvalidFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordInvalidFault" nillable="true" type="tns:PasswordInvalidFault" />
  <xs:complexType name="UserNotFoundFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNotFoundFault" nillable="true" type="tns:UserNotFoundFault" />
  <xs:complexType name="InvalidEmailFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidEmailFault" nillable="true" type="tns:InvalidEmailFault" />
  <xs:complexType name="ArrayOfClaimMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimMetaData" nillable="true" type="tns:ClaimMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimMetaData" nillable="true" type="tns:ArrayOfClaimMetaData" />
  <xs:complexType name="ClaimMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimNs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confidential" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimMetaData" nillable="true" type="tns:ClaimMetaData" />
  <xs:complexType name="ClaimNotFoundFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimNotFoundFault" nillable="true" type="tns:ClaimNotFoundFault" />
  <xs:complexType name="AuthorizationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthorizationFault" nillable="true" type="tns:AuthorizationFault" />
  <xs:complexType name="RelyingPartyNotAssociatedToSecurityDomainFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RelyingPartyNotAssociatedToSecurityDomainFault" nillable="true" type="tns:RelyingPartyNotAssociatedToSecurityDomainFault" />
  <xs:complexType name="SystemFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemFault" nillable="true" type="tns:SystemFault" />
  <xs:complexType name="NonRenewableTokenFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NonRenewableTokenFault" nillable="true" type="tns:NonRenewableTokenFault" />
  <xs:complexType name="ClaimMappingsNotFoundFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimMappingsNotFoundFault" nillable="true" type="tns:ClaimMappingsNotFoundFault" />
</xs:schema>